<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lvlUP Tutoring</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
<video autoplay loop muted playsinline class ="back-video">
        <source src="{{url_for('static', filename='videos/lvlUP_bgv.mp4')}}" linear type="video/mp4">
    </video>
<div class="overlay"></div>
    <header>
        <a href="/"><img src="{{ url_for('static', filename='images/lvlUP_logo1_nbg.png') }}" class="logo"></a>
        <nav>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="#services">Our Services</a></li>
                <li><a href="#resources">Resources</a></li>
                <li><a href="/login">LOG IN</a></li>
                <li><a href="/signup">SIGN UP</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <div class = "logo2_container">
        <a href="/"><img src="{{ url_for('static', filename='images/lvlUP_logo_pic.png') }}" class="logo2"></a>
        </div>

            <h1>Are you ready to lvlUP?</h1>
            <h2>
                Free one-on-one tutoring by JSU students, online or in-person. <br>Whether
                you prefer to meet online or in-person, our student tutors are<br> here to help you succeed.
                Take your future into your own hands. It's <br> time for you to lvlUP!
            </h2>
            <h3>
                What would you like to learn?
            </h3>



        <div class = "search_container">

            <form method="GET" class="search_bar">

                <input type="text" id="subject" name="subject" placeholder="Search for subjects like 'Chemistry II' or 'Spanish'">

                <button type="submit"><img src="{{url_for('static', filename='images/search1.png')}}" class="search_icon" value="search"></button>
            </form>
        </div>

    </main>
    <footer>
        <p></p>
    </footer>

</body>
</html>
